:root {
  --primary: #f3f3f3;
  --primary-two: #0e0f18;
  --secondary: #229774;
  --secondary-two: red;
  --white: #f4f5f5;
  --glass: rgba(0, 0, 0, 0.05);
  --soft-dark: #bbbbbb;
}

body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  background: var(--primary);
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid var(--soft-dark);
}

h1 {
  display: inline-block;
  color: var(--secondary);
  cursor: pointer;
}

.theme {
  position: absolute;
  right: 20px;
  top: 25px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.theme .fa-palette {
  color: var(--primary-two);
  font-size: 30px;
}
.theme .fa-palette:hover {
  color: var(--secondary);
}

.cash-theme-container {
  width: 100%;
  margin-bottom: 10px;
}

.cash {
  display: flex;
  justify-content: space-around;
}

.cash {
  color: var(--primary-two);
  font-size: 24px;
  font-weight: bold;
}

.cash-in {
  color: var(--secondary);
}

.cash-out {
  color: var(--secondary-two);
}

@media screen and (min-width: 760px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .theme {
    position: static;
    margin-left: 50px;
  }
  .cash-theme-container {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0px;
  }

  .cash-out {
    margin-left: 20px;
    font-size: 32px;
  }
  .cash-in {
    margin-right: 20px;
    font-size: 32px;
  }
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 60px;
  height: 60px;
  border: 8px solid #9527e4;
  right: 30%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}
.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div {
  height: 4px;
  width: 4px;
  background: #b3a20a;
  margin: 0 3px 12px;
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid var(--skin-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -120px;
  animation: leftBounce 3s ease-in-out infinite;
}
.effect-4 {
  border-top: 60px solid transparent;
  border-left: 60px solid #d70661;
  left: 30%;
  top: 30%;
  animation: spin 15s linear infinite;
}

.effect-4::before {
  content: "";
  border-top: 60px solid transparent;
  border-left: 60px solid #d70661;
  position: absolute;
  opacity: 0.5;
  left: -70px;
  top: -50px;
}

.effect-5 {
  height: 100px;
  width: 100px;
  right: 5%;
  top: 20%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}

.effect-5 div {
  width: 2px;
  background: #4dd0e1;
  height: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
@keyframes leftBounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.split-container {
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.ul-holder {
  position: relative;
  max-height: 100%;
  width: 90%;
  padding: 20px 0;
  margin: auto;
}

ul {
  width: calc(100% - 50px);
  height: calc(100% -50px);
  max-height: 400px;
  padding: 0px 25px;
  background: var(--primary-two);
  list-style-type: none;
  margin: 0;
  border-radius: 0px;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  border-radius: 10px;
  background: var(--primary-two);
  width: 10px;
  height: 80%;
  cursor: grabbing;
}

ul::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

.no-of-items {
  position: absolute;
  left: 50%;
  top: 102%;
  transform: translate(-50%, -50%);
  display: inline-block;
  color: #fafafa;
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--secondary);
  z-index: 60;
}

.ul-gap {
  position: absolute;
  left: 0;
  background: var(--primary-two);
  width: 100%;
  height: 20px;
  z-index: 50;
}
.ul-gap-up {
  top: 0;
  border-radius: 10px 10px 0 0;
}

.ul-gap-down {
  bottom: 0;
  border-radius: 0 0 10px 10px;
}

li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 0px;
  margin: 10px auto;
  border-width: 1px 1px 1px 3px;
  border-style: solid;
  border-color: transparent;
  border-left: 3px solid var(--primary);
  cursor: pointer;
}

.li-hide-del-curve {
  position: absolute;
  background: var(--primary-two);
  width: 30px;
  height: calc(100%);
  left: -33px;
  z-index: 30;
  border-right: 3px solid var(--primary);
}

.li-del-curve {
  position: relative;
  transform: translateX(-33px);
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 100%;
  z-index: 10;
}

li:hover .li-del-curve {
  animation: slide-in .3s forwards;
}


.li-del-curve .seen-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  width: 50%;
  height: 66.66%;
  background: var(--primary);
  z-index: 10;
}
.li-del-curve .circle {
  width: 30px;
  height: 30px;
  z-index: 20;
  border-radius: 50%;
}
.li-del-curve .blind-circle {
  background: var(--primary-two);
}
.li-del-curve .seen-circle {
  background: var(--primary);
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 30px;
}

li.payment .li-del-curve .seen-circle {
  color: var(--secondary-two);
}
li.invoice .li-del-curve .seen-circle {
  color: var(--secondary);
}

.li-text-div {
  height: calc(100%);
  transform: translateX(-33px);
  margin-left: 20px;
}

li:hover .li-text-div {
  animation: slide-in .3s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-33px);
  }
  100% {
    transform: translateX(0px);
  }
}

.li-text-div h4 {
  color: var(--primary);
  margin: 0;
  text-transform: capitalize;
}

.li-text-div p {
  color: var(--primary);
  margin: 8px 0 0;
}
.green-amount {
  color: var(--secondary);
  font-weight: bold;
}
.red-amount {
  color: var(--secondary-two);
  font-weight: bold;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  padding-top: 20px;
}
form {
  align-items: center;
  justify-content: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

.glass-div {
  background-color: var(--glass);
  backdrop-filter: blur(8px);
}

.field {
  width: 80%;
}

label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: var(--primary-two);
  margin: 16px 0 6px;
}
input,
select {
  background: var(--primary-two);
  color: var(--primary);
  padding: 8px 12px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

input {
  width: 100%;
}
input:hover input:focus {
  outline: none;
  border: none;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  color: white;
  border: 0;
  background: var(--secondary);
  padding: 12px 24px;
  margin: 15px auto;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  border: 1px solid transparent;
}
button:hover,
button:focus {
  background: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary)
}

footer a {
  text-align: center;
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 0.7em;
  margin-bottom: 20px;
}

@media screen and (min-width: 760px) {
  .split-container {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    align-items: top;
    justify-content: center;
  }

  .wrapper {
    width: 50%;
    height: 100%;
    margin: 0;
  }

  .form-container {
    width: 40%;
    padding-top: 0;
    margin: 0;
  }
}
