@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Satisfy&display=swap');

:root {
  --primary: #ffffff;
  --primary-two: #0e0f18;
  --secondary: #229774;
  --secondary-two: red;
  --text-dark: #0e0f18;
  --text-light: #ffffff;
  --ul-bg-color: #1c1c21;
  --theme-color: #0e0f18,
  --white: #f4f5f5;
  --glass: rgba(0, 0, 0, 0.05);
  --soft-dark: #ebebeb;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}



body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: var(--primary);
  color: var(--text-dark);
  position: relative;
}
body.hidden-scrolling {
  overflow-y: hidden;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-bottom: 1px solid var(--soft-dark);
  background: var(--primary);
  z-index: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.section.hide {
  display: none;
}

/*---------------
 navigation menu
 ----------------*/
 .nav-menu {
  position: fixed;
  background: var(--primary);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  outline: 1px solid var(--soft-dark);
}




.nav-menu.open {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: all 0.3s ease-in;
}

@keyframes slideInNav {
  0% {
    left: calc(-50%);
  }
  100% {
    left: 0%;
  }
}

.nav-header {
  border-bottom: 1px solid var(--soft-dark);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-menu .close-nav-menu {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  padding: 0;
  cursor: pointer;
  color: var(--text-dark);
  border-radius: 8px;
  outline: 1px solid var(--soft-dark);
  transition: all 0.3s ease;
}

.nav-menu .close-nav-menu:hover {
  color: var(--secondary);
}


.nav-menu-inner {
  min-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.nav-ul {
  padding: 15px;
  border-radius: 4px;
  outline: 1px solid var(--soft-dark);
}

.nav-ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.nav-ul li:last-child {
  margin-bottom: 0;
}

.nav-ul li a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-dark);
  padding: 5px 30px;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s ease;
  outline: 1px solid var(--soft-dark);
  border-radius: 30px;
}

.nav-ul li a.active {
  color: var(--secondary);
}

.nav-ul li a:hover:not(.nav-ul li a.active ) {
  color: var(--secondary);
  outline: 1px solid var(--secondary);
}




.cash-theme-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.menu-logo-wrapper {
  display: flex;
  align-items: center;
}

.main-menu {
  color: var(--text-dark);
  width: 30px;
  height: 30px;
  outline: 1px solid var(--soft-dark);
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
}

.main-menu:hover {
  color: var(--secondary);
}

.main-logo {
  display: inline-block;
  font-family: 'Satisfy', cursive;
  color: var(--secondary);
  cursor: pointer;
  font-size: 1.5rem;
}

.main-logo:hover {
  color: #00d091;
}

.select-wrapper {
  padding: 0 0.75rem;
  border-radius: 8px;
  /* background: var(--primary-two); */
  /* background: transparent; */
}


.currency-pick {
  background: transparent;
  color: var(--text-dark);
  font-size: 1rem;
  padding: 0;
  outline: none;
  border: none;
  width: auto;
  padding-right: 0.5rem;
}

.currency-pick >* {
  color: black;
}



.theme {
  display: inline-block;
  cursor: pointer;
  margin-left: 1rem;
  /* background: var(--primary-two); */
  border-radius: 50%;
  /* border: 1px solid var(--soft-dark); */
}


.theme .fa-palette {
  color: var(--theme-color);
  font-size: 1.25rem;
}
.theme .fa-palette:hover {
  color: var(--secondary);
}


.cash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 500;
}


.cash-sm {
  display: flex;
  margin-top: 1rem;
  border-top: 1px solid var(--soft-dark);
  padding-top: 0.5rem;
}

.cash-bg {
  display: none;
  margin-left: 1rem;
}

.cash-in {
  color: var(--secondary);
}

.cash-out {
  color: var(--secondary-two);
}



main {
  min-height: calc(100vh - 7.5rem);
  /* margin-top: 8rem; */
  /* border: 1px solid red; */
}

section {
  padding-top: 6.875rem !important;
  /* border: 1px solid blue */
}

section.hide {
  display: none !important;
}
 

/*-------------
 home section
---------------*/

.split-container {
  /* border: 1px solid red; */
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.ul-holder {
  position: relative;
  max-height: 100%;
  width: 90%;
  padding: 20px 0;
  margin: auto;
  border-radius: 10px;
  background: var(--ul-bg-color);
}

.item-list {
  width: calc(100%);
  /* height: calc(100%); */
  max-height: 400px;
  padding: 0px 25px;
  background: var(--ul-bg-color);
  list-style-type: none;
  margin: 0;
  border-radius: 0px;
  overflow-y: auto;
}

.item-list::-webkit-scrollbar {
  border-radius: 10px;
  background: var(--primary-two);
  width: 10px;
  height: 80%;
  cursor: grabbing;
}

.item-list::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

.no-of-items {
  position: absolute;
  left: 50%;
  top: 102%;
  transform: translate(-50%, -50%);
  display: inline-block;
  color: #fafafa;
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--secondary);
  z-index: 60;
}

.ul-gap {
  position: absolute;
  left: 0;
  background: var(--ul-bg-color);
  width: 100%;
  height: 20px;
  z-index: 50;
}
.ul-gap-up {
  top: 0;
  border-radius: 10px 10px 0 0;
}

.ul-gap-down {
  bottom: 0;
  border-radius: 0 0 10px 10px;
}

.item-list li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 0px;
  margin: 10px auto;
  border-style: solid;
  border-color: transparent;
  /* border-left: 3px solid var(--primary); */
  
  
}

.item-list .li-hide-del-curve {
  position: absolute;
  background: var(--ul-bg-color);
  width: 30px;
  height: calc(100%);
  left: -30px;
  z-index: 30;
  border-right: 3px solid var(--primary);
  
}

.item-list .li-del-curve {
  position: relative;
  transform: translateX(-33px);
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 100%;
  z-index: 10;
}

.item-list li:hover .li-del-curve {
  animation: slide-in .3s forwards;
}

.form-container {}

.item-list .li-del-curve .seen-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  width: 50%;
  height: 66.66%;
  background: var(--primary);
  z-index: 10;
}
.item-list .li-del-curve .circle {
  width: 30px;
  height: 30px;
  z-index: 20;
  border-radius: 50%;
}
.item-list .li-del-curve .blind-circle {
  background: var(--ul-bg-color);
}
.item-list .li-del-curve .seen-circle {
  background: var(--primary);
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
  cursor: pointer;
}

.item-list .li-del-curve:hover .seen-circle {
  border: 1px solid var(--secondary-two);
}

.item-list li.payment .li-del-curve .seen-circle {
  color: var(--secondary-two);
}
.item-list li.payment .li-del-curve:hover .seen-circle {
  border: 1px solid var(--secondary-two);
}
.item-list li.invoice .li-del-curve .seen-circle {
  color: var(--secondary);
}
.item-list li.invoice .li-del-curve:hover .seen-circle {
  border: 1px solid var(--secondary);
}

.item-list .li-text-div {
  height: calc(100%);
  transform: translateX(-33px);
  margin-left: 20px;
}

.item-list li:hover .li-text-div {
  animation: slide-in .3s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-33px);
  }
  100% {
    transform: translateX(0px);
  }
}

.item-list .li-text-div h4 {
  color: var(--text-light);
  margin: 0;
  text-transform: capitalize;
}

.item-list .li-text-div p {
  color: var(--text-light);
  margin: 8px 0 0;
}
.green-amount {
  color: var(--secondary);
  font-weight: bold;
}
.red-amount {
  color: var(--secondary-two);
  font-weight: bold;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 20px;
}
form {
  align-items: center;
  justify-content: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

.glass-div {
  background-color: var(--glass);
  backdrop-filter: blur(8px);
  background: var(--primary);
  border: 1px solid var(--soft-dark);
}

.field {
  width: 80%;
}

label {
  display: block;
  font-weight: 500;
  font-size: 0.8em;
  color: var(--text-dark);
  margin: 16px 0 6px;
}
input,
#type {
  background: transparent;
  color: var(--text-dark);
  padding: 8px 12px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  outline: 1px solid var(--soft-dark);
}

#type >* {
  color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--text-dark) !important;
    /* border: 1px solid var(--black) !important; */
    /* -webkit-box-shadow: 0 0 0 30px var(--white) inset !important; */
    -webkit-background-clip: text;
}

input {
  width: 100%;
  cursor: text;
}
input:hover input:focus {
  outline: none;
  border: none;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  color: white;
  border: 0;
  background: var(--secondary);
  padding: 12px 24px;
  margin: 15px auto;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  border: 1px solid transparent;
}
button:hover,
button:focus {
  background: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary)
}
footer {
  padding-top: 1rem;
}
footer a {
  text-align: center;
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 0.7em;
  margin-bottom: 20px;
}

/*------------------
portfolio section
-------------------*/

.rates-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rates-section h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.rates-section .loading-rates-data {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  animation: colorChange 1.5s infinite;
}

.loading-rates-data.hide {
  display: none;
}

@keyframes colorChange {
  0% {
    color: var(--text-dark)
  }
  50% {
    color: var(--secondary);
  }
  10% {
    color: var(--text-dark);
  }
}

.rate-search-form {
  display: none;
}

.rate-search-form.show {
  display: block;
}

.rate-search-form label {
  display: none;
}

.rate-search-form div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  border-radius: 4px;
  /* position: sticky; */
  /* top: 8rem; */
  width: 90%;
  max-width: 350px;
  margin: auto;
  /* left: "50%"; */
  /* transform: translateX(-50%); */
}

.rate-search-form div input {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-right: 0.5rem;
}

.rate-search-form div input:focus {
  outline: 1px solid var(--secondary);
}

.rate-search-form div button {
  margin-left: 0.5rem;
  margin: 0;
}

.cannot-fetch-rates {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  display: none;
}

.cannot-fetch-rates.show {
  display: block;
}

.rates-list {
  /* border: 1px solid red; */
  list-style: none;
  padding-left: 0;
  width: 90%;
  max-width: 400px;
  outline: 1px solid var(--soft-dark);
  border-radius: 4px;
}



.rates-li {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.rates-li:not(.rates-li:last-child) {
  border-bottom: 1px solid var(--soft-dark);
}


/* ------ 
about section 
------- */

.about-section {
  background: var(--primary);
  width: 100%;
}

.about-content  {
  
  width: 80%;
  margin: auto;
  text-align: center;
}
.about-logo {
  font-size: 2rem;

  color: var(--text-dark);
  font-weight: 400;
}


.about-logo span {
  color: var(--secondary);
  font-family: 'Satisfy', cursive;
}
.about-logo span:hover {
  color: var(--text-dark);
}

.about {
  font-size: 14px;
  color: #999;
  line-height: 30px;
}


@media screen and (min-width: 760px) {
    .nav-menu,
    .fade-out-effect {
      width: 40%;
    }
    .nav-menu .effect-wrap {
      display: none;
    }
  


  .currency-pick {
    font-size: 1.125rem;
   
  }
  .cash-sm {
    display: none;
  }
  
  .cash-bg {
    display: flex;
  }
  .cash-out, .cash-in, .cash-equal-to, .cash-total {
    margin-left: 20px;
    font-size: 1.25rem;
  }

  .cash-in {
    margin-left: 0;
  }

  .theme {
    margin-left: 1.5rem;
  }
  .theme .fa-palette {
    font-size: 1.5rem;
  }



  main {
    min-height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

  section {
    padding-top: 0rem;
    width: 100%;
    /* border: 1px solid blue; */
  }



  
  .split-container {
    /* border: 1px solid red; */
    width: 100%;
    /* height: calc(100vh - 150px); */
    display: flex;
    align-items: top;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    width: 50%;
    height: 100%;
    margin: 0;
  }

  .form-container {
    width: 40%;
    padding-top: 0;
    margin: 0;
  }
}


section:not(section.active) {
  display: none !important;
}